.getting-started-container {
  margin: 0 1em;
  overflow: scroll;

  @media (min-width: 768px) {
    .garuda-ng-end {
      display: flex;
    }
  }

  .caption {
    gap: 1em;

    @media (min-width: 768px) {
      display: flex;
    }

    .garuda-ng-end {
      display: flex;

      .garuda-ng {
        color: var(--p-primary-color);
      }
    }
  }
}

.ng-logo {
  place-self: center;
}
