.sidebar-toggle {
  @media only screen and (device-width > 768px) {
    display: none !important;
  }
}

.route-container {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 0 auto;
  padding-bottom: 4em;
  flex: 1 0 auto;
  min-height: calc(100vh - 120px);
  position: relative;
}

.header-title {
  margin-left: 10px;
}
