.components-container {
  display: flex;
  gap: 1em;

  .inline-container {
    display: inline;

    .components-menu {
      position: sticky;
      top: 68px;
      @media only screen and (device-width > 768px) {
        display: block !important;
      }

      @media only screen and (device-width <= 768px) {
        position: fixed;
      }
    }
  }
}
