form {
  margin-bottom: 3rem;
}

.input-wrapper {
  width: fit-content;
  height: 45px;
  border-radius: 20px;
  padding: 5px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  background-color: var(--p-inputtext-background);
  border: 2px solid var(--p-inputtext-border-color);
  overflow: hidden;
}

.input-wrapper:has(input:focus) {
  border: 2px solid var(--p-primary-color);
}

.icon {
  width: 30px;
  fill: var(--p-inputtext-color);
  color: var(--p-inputtext-color) !important;
  margin-left: 8px;
  transition: all 0.3s;
}
.input {
  width: 400px;
  height: 100%;
  border: none;
  outline: none;
  padding-left: 15px;
  background-color: var(--p-inputtext-background);
  color: var(--p-inputtext-color) !important;
  font-size: 1em;
}
.input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px var(--p-primary-color) inset;
  -webkit-text-fill-color: var(--p-gray-900);
}
.search-btn {
  height: 100%;
  width: 95px;
  border: none;
  border-radius: 15px;
  color: var(--p-button-secondary-color);
  cursor: pointer;
  background-color: var(--p-button-secondary-background);
  font-weight: 500;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  transition: all 0.3s;
  border: 2px solid var(--p-button-secondary-border-color);
}
.search {
  position: absolute;
  margin-right: 150px;
  transition: all 0.3s;
}
.input-wrapper:active .icon {
  transform: scale(1.3);
}
.search-btn:hover {
  color: transparent;
  //   background-color: var(--p-slate-50);
}
.search-btn:hover .search {
  margin-right: 0;
  animation: appear-horizontal 0.9s both;
  transform-origin: right;
  color: var(--p-button-secondary-color);
}

@keyframes appear-horizontal {
  0% {
    transform: scale3d(1, 1, 1);
  }
  30% {
    transform: scale3d(0.75, 1.25, 1);
  }
  40% {
    transform: scale3d(1.25, 0.75, 1);
  }
  50% {
    transform: scale3d(0.85, 1.15, 1);
  }
  65% {
    transform: scale3d(1.05, 0.95, 1);
  }
  75% {
    transform: scale3d(0.95, 1.05, 1);
  }
  100% {
    transform: scale3d(1, 1, 1);
  }
}
.search-btn:active {
  transform: scale(0.9);
}

@media screen and (max-width: 960px) {
  .input {
    width: 250px;
  }
}
